# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

# Seu código aqui
ano = [1900,1920,1940,1960,1980,2000,2020]
anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

dados = pd.Series(data = anomalia, index = ano)
dados

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [3]:

# seu código aqui
ano = [1900,1920,1940,1960,1980,2000,2020]
anomalia = [-0.08,-0.27,0.12,-0.03,0.26,0.40,1.02]

dados = pd.Series(data = anomalia, index = ano)
dados

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [4]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [8]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

a = pd.DataFrame(arr)
a

             0           1           2
0    95.670623  105.786574  104.844915
1    88.019701   94.837442   97.935899
2   114.183942   96.468249  114.632371
3   111.324551  105.402410  107.440306
4   113.788668   97.946408  101.947351
5    88.142935   96.010631  101.194026
6   103.749604   81.291926   95.772244
7   104.012143  109.987944  118.897308
8    71.545640   97.448107   89.205944
9   122.949420  102.346290  110.058385
10  103.938603   99.973214   96.129837
11   93.878514   92.247181   95.807623
12  102.396060   90.858076  102.269151
13   94.501906   98.651436  107.348477
14   99.679117   99.121185   99.896600
15  108.373824  101.183207  109.515574
16  101.150583  100.168908   87.356437
17   86.354265  104.662538  103.374307
18  101.587351  102.542547   86.009266
19  116.390003  121.142594  116.966325

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [12]:
#seu código aqui
a = pd.DataFrame(arr, 
                 index=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20], 
                 columns=['x1','x2','x3'])
a

            x1          x2          x3
1    95.670623  105.786574  104.844915
2    88.019701   94.837442   97.935899
3   114.183942   96.468249  114.632371
4   111.324551  105.402410  107.440306
5   113.788668   97.946408  101.947351
6    88.142935   96.010631  101.194026
7   103.749604   81.291926   95.772244
8   104.012143  109.987944  118.897308
9    71.545640   97.448107   89.205944
10  122.949420  102.346290  110.058385
11  103.938603   99.973214   96.129837
12   93.878514   92.247181   95.807623
13  102.396060   90.858076  102.269151
14   94.501906   98.651436  107.348477
15   99.679117   99.121185   99.896600
16  108.373824  101.183207  109.515574
17  101.150583  100.168908   87.356437
18   86.354265  104.662538  103.374307
19  101.587351  102.542547   86.009266
20  116.390003  121.142594  116.966325

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [14]:
# seu código aqui
a['media'] = (a['x1'] + a['x2'] + a['x3'])/3
a

            x1          x2          x3       media
1    95.670623  105.786574  104.844915  102.100704
2    88.019701   94.837442   97.935899   93.597681
3   114.183942   96.468249  114.632371  108.428187
4   111.324551  105.402410  107.440306  108.055756
5   113.788668   97.946408  101.947351  104.560809
6    88.142935   96.010631  101.194026   95.115864
7   103.749604   81.291926   95.772244   93.604591
8   104.012143  109.987944  118.897308  110.965798
9    71.545640   97.448107   89.205944   86.066564
10  122.949420  102.346290  110.058385  111.784698
11  103.938603   99.973214   96.129837  100.013885
12   93.878514   92.247181   95.807623   93.977773
13  102.396060   90.858076  102.269151   98.507762
14   94.501906   98.651436  107.348477  100.167273
15   99.679117   99.121185   99.896600   99.565634
16  108.373824  101.183207  109.515574  106.357535
17  101.150583  100.168908   87.356437   96.225309
18   86.354265  104.662538  103.374307   98.130370
19  101.587351  102.542547   86.009266   96.713055
20  116.390003  121.142594  116.966325  118.166307

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [17]:
# seu código aqui

a['log_med'] = np.log(a['media'])
a

            x1          x2          x3       media  %log_med   log_med
1    95.670623  105.786574  104.844915  102.100704  4.625960  4.625960
2    88.019701   94.837442   97.935899   93.597681  4.539006  4.539006
3   114.183942   96.468249  114.632371  108.428187  4.686088  4.686088
4   111.324551  105.402410  107.440306  108.055756  4.682647  4.682647
5   113.788668   97.946408  101.947351  104.560809  4.649769  4.649769
6    88.142935   96.010631  101.194026   95.115864  4.555096  4.555096
7   103.749604   81.291926   95.772244   93.604591  4.539079  4.539079
8   104.012143  109.987944  118.897308  110.965798  4.709222  4.709222
9    71.545640   97.448107   89.205944   86.066564  4.455121  4.455121
10  122.949420  102.346290  110.058385  111.784698  4.716575  4.716575
11  103.938603   99.973214   96.129837  100.013885  4.605309  4.605309
12   93.878514   92.247181   95.807623   93.977773  4.543058  4.543058
13  102.396060   90.858076  102.269151   98.507762  4.590135  4.590135
14   94.501906   98.651436  107.348477  100.167273  4.606842  4.606842
15   99.679117   99.121185   99.896600   99.565634  4.600817  4.600817
16  108.373824  101.183207  109.515574  106.357535  4.666806  4.666806
17  101.150583  100.168908   87.356437   96.225309  4.566692  4.566692
18   86.354265  104.662538  103.374307   98.130370  4.586297  4.586297
19  101.587351  102.542547   86.009266   96.713055  4.571748  4.571748
20  116.390003  121.142594  116.966325  118.166307  4.772093  4.772093

In [21]:
a.drop(columns=['%log_med'])

            x1          x2          x3       media   log_med
1    95.670623  105.786574  104.844915  102.100704  4.625960
2    88.019701   94.837442   97.935899   93.597681  4.539006
3   114.183942   96.468249  114.632371  108.428187  4.686088
4   111.324551  105.402410  107.440306  108.055756  4.682647
5   113.788668   97.946408  101.947351  104.560809  4.649769
6    88.142935   96.010631  101.194026   95.115864  4.555096
7   103.749604   81.291926   95.772244   93.604591  4.539079
8   104.012143  109.987944  118.897308  110.965798  4.709222
9    71.545640   97.448107   89.205944   86.066564  4.455121
10  122.949420  102.346290  110.058385  111.784698  4.716575
11  103.938603   99.973214   96.129837  100.013885  4.605309
12   93.878514   92.247181   95.807623   93.977773  4.543058
13  102.396060   90.858076  102.269151   98.507762  4.590135
14   94.501906   98.651436  107.348477  100.167273  4.606842
15   99.679117   99.121185   99.896600   99.565634  4.600817
16  108.373824  101.183207  109.515574  106.357535  4.666806
17  101.150583  100.168908   87.356437   96.225309  4.566692
18   86.354265  104.662538  103.374307   98.130370  4.586297
19  101.587351  102.542547   86.009266   96.713055  4.571748
20  116.390003  121.142594  116.966325  118.166307  4.772093